<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Fire TV / Android TV: sin pantalla táctil obligatoria -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:name=".IPTVApplication"
        android:allowBackup="true"
        android:banner="@drawable/ic_banner"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.IPTVPro"
        android:usesCleartextTraffic="true">

        <!-- Actividad principal de la app -->
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Launcher TV para Fire TV / Android TV -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad del reproductor (pantalla completa, orientación fija) -->
        <activity
            android:name=".ui.screens.player.PlayerActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />

    </application>

</manifest>
